version: 2.1
jobs:
  test:
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - checkout

      - run: npm i
      - run: npm run compile
      - run: npm run test

      - run: cd samples/truffle && npm i
      #- run: cd samples/truffle && npm run test (TODO restore test)

      - run: npm run lintNoFix

      - persist_to_workspace:
          root: ~/repo
          paths: .

  publish:
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$npm_TOKEN" > ~/repo/.npmrc
      - run:
          name: Publish package
          command: npm publish

workflows:
  build:
    jobs:
      - test:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore:
                - gh-pages
                - artifacts
      - publish:
          requires:
            - test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
